sudo: required
services:
  - docker

before_install:
  - docker build -t vivekshetty1984/docker-react -f Dockerfile.dev .

#script:
  - docker run vivekshetty1984/docker-react npm run test -- --coverage

deploy:
  edge: true
  provider: elasticbeanstalk
  region: "us-east-1"
  app: "docker"
  env: "Docker-env"
  bucket_name: "elasticbeanstalk-us-east-1-144676641909"
  bucket_path: "docker"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secure_access_key:
    secure: "$AWS_SECRET_KEY"
